<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../Static/Portfolio.css">
    <title>SAMIRANNA</title>

</head>
<body>
        <!-- Navbar -->
    <nav class="flex items-center bg-[#dfb79e]">
        <a href="../Template/index.html"><img src="../Static/Logo.png" alt="Logo" class="w-20 cursor-pointer py-5 pl-5"></a>
        <ul class="flex-1 text-end">
            <li class="list-none inline-block px-5"><a href="../Template/Portfolio.html" class="no-underline text-black text-2xl px-2">Portfolio</a></li>
            <li class="list-none inline-block px-5"><a href="../Template/testimonials.html" class="no-underline text-black text-2xl px-2">Testimonials</a></li>
            <li class="list-none inline-block px-5"><a href="../Template/order.html" class="no-underline text-black text-2xl px-2">Book Now</a></li>
        </ul>
    </nav>

    <div id="heading">
      <h2>Portfolio</h2>
    </div>

      <div class="row">
        <div class="content-block block1">
          <img src="../Static/photos-by-lanty-O38Id_cyV4M-unsplash.jpg" alt="Wedding Photo">
        </div>
        
        <div class="content-block block2">
          <h2><u>Founding Story</u></h2>
          <p>Samiranna Photography was founded by a passionate photographer, Samira, who discovered her love for capturing emotions and pivotal moments in people's lives. She was inspired to create a photography service that not only documents weddings but also encapsulates the essence of each unique story.</p>

          <br>

          <h2><u>Services</u></h2>
          <p>Samiranna Photography specializes in wedding photography, offering a range of packages that include engaement shoots, ceremony and reception coverage, and custom phtot albums. They also provide photography services for other special occasions such as anniversaries, family gathering, and milestone events.</p>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="content-block block2">
          <h2><u>Personalized Approach</u></h2>
          <p>What sets Samiranna apart is their personalized approach to each project. They take the time to understand the unique stories and preferences of their clients, ensuring that each photo shoot reflects the individuality of the people and the event. </p>
          
          <br>

          <h2><u>Mission and Values</u></h2>
          <p>The company's mission is to capture beauty and emotion of special moments, turning them into lifelong memories. Their vision is to be the go-to local photography company for weddings and other significant life events, known for their personalized touch and deep connection with their clients.</p>
        </div>
        
        <div class="content-block block1">
          <img src="../Static/olivia-bauso-30UOqDM5QW0-unsplash.jpg" alt="Wedding Photo">
        </div>
      </div>

<br>

<!-- Fill in the href for new page location -->
<div class="container">
  <a href="">
    <button class="centered-button"><b>Book Now</b></button>
  </a>
</div>

      <footer>
        <p>&copy; 2024 Samiranna Photography. All rights reserved.</p>
    </footer>
</body>
</html>