<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/Static/style.css">
    <title>SAMIRANNA</title>
</head>
<body>
    <div class="container min-w-full min-h-screen bg-[#cf8562]">
        <!-- Navbar -->
        <nav class="flex items-center bg-[#dfb79e]">
           <a href="index.html"><img src="../Static/Logo.png" alt="Logo" class="w-20 cursor-pointer py-5 pl-5"></a>
            <ul class="flex-1 text-end">
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-black text-2xl px-2">Portfolio</a></li>
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-black text-2xl px-2">Contact Us</a></li>
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-black text-2xl px-2">Testimonials</a></li>
            </ul>
        </nav>



















