.vw-text {
    font-size: 2vh;
}

.border-box {
    border: 2px solid #000;
}
.vw-header{
    font-size: 3vh;
}

.Header{
    background-image: url('../Static/Hero.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button:hover{
    color: black;
    background-color: bisque;
    transition: background, color, 1s;
}